*{
    font-family: monospace;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#container{
    display: flex;
    flex-flow: column;
    align-self: center;
}

#title{
    text-align: center;
}

label{
    margin: 10px 0;
}

input{
    margin-bottom: 20px;
    padding: 5px;
}

button{
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(243, 210, 63, 0.664);
}

#result{
    padding: 20px;
    align-self: center;
}

.result{
    margin-top: 5px;
}

.graph{
    align-self: center;
    max-width: 600px;
    max-height: 600px;
    margin-top: 20px;
}